<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <p class="main-title">랜덤캐</p>
    </div>
    
  </div>
  <div class="hero-foot">
      <!-- <a routerLink="/random-characters">새로운 캐릭터 만들기</a> -->
      <a class="btn" (click)="openModal()">새로운 캐릭터 만들기</a>
  </div>
</section>
 

<div class="custom-modal" 
    [class.active]="isModal"
    [class.inactive]="isModal === false" >
    <!-- <p>97개의 모듈로 백이십구억개 캐릭터 만들기</p> -->
    <p>97</p>
</div>
