@charset 'utf-8';



$btn-size: 8.125rem;
$btn-col: $black;



@include scrollbars(.1, $main-color, transparent);

.btn {
  @include size($btn-size, $btn-size);
  @include border-radius(50%);
  @include flex(flex, row nowrap);
  justify-content: center;
  align-items: center;
  margin: 0 auto 1rem;

  font-family: $sans-bold !important;
  font-size: $size-6;
  font-weight: $weight-normal;
  
  text-align: center;

  &.primary {
    background-color: $main-color;
    color: $btn-col;
  }

  &.light {
    background-color: #F6F6F6;
    color: #4A4A4A;
  }
}


.custom-modal {
  width: 100vw;
  height: 0;
  background-color: $custom-modal-color;
  overflow: hidden;
  position: absolute;
  
  // opacity: ;
  z-index: $z-modal;
  transition: height .4s ease-in-out;

  &.active {
      top: 0;
      height: 100vh;
  }
  &.inactive {
      top: 0;
      height: 0;
  }    

  p {
      font-size: $size-big;
      text-align: center;
  }
}





.btn_container {
    @include size(100vw, 20vh);
    @include flex(flex, row nowrap);
    justify-content: center;
    margin: 0 auto;


    .userBtn {
        // default style
        @include size($userBtn-w, $userBtn-h);
        padding: 0 2rem;
        img {
            @include size($userBtn-w, $userBtn-h);
            max-height: $userBtn-h-max;
        }
        opacity: 0.4;
        &:hover { 
            opacity: 1;
        }
        // large style
        &.large {
            @include size($userBtn-large-w, $userBtn-large-h);
            padding: 0 2rem;
            img {
                @include size($userBtn-large-w, $userBtn-large-h);
                max-height: $userBtn-large-h;
            }
        }
    }        
}

