
$svgWidth: 392px;
$svgHeight: 672px;


//// Common Style

$common-col: #FCD4A3;
$common-stroke-col: #1D1D1B;
$common-stroke-width: 3;
$common-stroke-miterlimit: 10; 

@mixin commonStyle($col: $common-col){
	fill: $col;
    stroke: $common-stroke-col;
    stroke-width: $common-stroke-width;
    stroke-miterlimit: $common-stroke-miterlimit;
}


@mixin commonStyleNoFill(){
    stroke: $common-stroke-col;
    stroke-width: $common-stroke-width;
    stroke-miterlimit: $common-stroke-miterlimit;
}



// eye

$eye-col: white;
$eye-stroke-col: black;




/* Color */

// Leg
// Use Common Style

// Face
// Use Common Style

// Hair
$hair-col: #723B10;
// $hair-stroke-col: #1D1D1B;
// $hair-stroke-width: 3;
// $hair-stroke-miterlimit: 10; 
$hair-stroke-linecap: round;
$hair-stroke-linejoin: round;



svg > path {
    fill: inherit;
}


.svg-container {
    height: 600px;
    svg {
        max-height: 600px;
        margin: 0 auto;
    }
}

.section {
    padding-top: 24px;

    .container {
        p { text-align: center; }
        .startBtn { 
            max-width: 200px;
        }
    }
}

.output-container {
    div {
        @include size($svgWidth, $svgHeight);
        position: absolute;
        margin-left:32%;
    
        background-repeat: no-repeat;
     }
}


.leg {
    @include commonStyle();
}

.hair {
	@include commonStyleNoFill();
}

.torso {
	@include commonStyleNoFill();
}
.ear {
	@include commonStyleNoFill();
}

.top {
	@include commonStyleNoFill();
}


.face {
    @include commonStyle();
}
.eye {
	@include commonStyleNoFill();
}
.mouth {
	@include commonStyleNoFill();
}
.nose {
	@include commonStyleNoFill();
}
.shoes {
	@include commonStyleNoFill();
}
.bottom {
	@include commonStyleNoFill();
}
.hairAcc {
	@include commonStyleNoFill();
}
/*

.bottom0 { 
    .st0{fill:none;}
	.st1{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
	.st2{fill:#C889BB;stroke:#000000;stroke-width:3;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
}
.bottom1 {
    .st0{fill:#294B9A;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st1{fill:#6DB866;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st2{fill:#F2E500;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st4{fill:#8099CE;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
 }
.bottom2 { 
    .st0{fill:#294B9A;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st1{fill:#E84480;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st2{fill:none;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st3{fill:#F2E500;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st4{fill:#E51E55;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st5{fill:#7A4694;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}
.bottom3 { 
    .st0{fill:#2CAAE1;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st1{fill:#B6DFED;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st2{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st4{fill:#FAC68D;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st5{fill:#C876AB;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st6{fill:#C876AB;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
	.st8{fill:#FFFFFF;}
	.st9{fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st10{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
	.st11{fill:#955F29;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
}
.bottom4 { 
    .st0{fill:#36AC69;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}
.bottom5 { 
    .st0{fill:#AD73AE;stroke:#1D1D1B;stroke-width:3;stroke-miterlimit:10;}
	.st1{fill:#2CAAE1;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st2{fill:#E62671;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st3{fill:#F2E500;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st4{fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}
.bottom6 {
    .st0{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
 }
.bottom7 { 
    .st0{fill:#0EB1E3;stroke:#1D1D1B;stroke-width:3;stroke-miterlimit:10;}
	.st1{fill:#B6DFED;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
	.st2{fill:#F2E500;stroke:#1D1D1B;stroke-width:3;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#1D1D1B;stroke-width:3;stroke-miterlimit:10;}
	.st4{fill:#79C6E3;stroke:#1D1D1B;stroke-width:3;stroke-miterlimit:10;}
}
.bottom8 { 
    .st0{fill:#6B4192;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
	.st1{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
}

.hairAcc0 {
    .st0{fill:none;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}
.hairAcc1 { 
    .st0{fill:#28A848;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st1{fill:#F6E71F;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st2{fill:#E42320;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st3{fill:#294B9A;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st4{fill:#66B22E;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}
.hairAcc2 { 
    .st0{fill:#723B10;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}
*/