/* color */
$main-color: #33FFBC;
$main-color-light: lighten($main-color, 20%);
$main-color-dark: darken($main-color, 20%);

$custom-modal-color: gold;

/* z-indexs */
$z-modal: 1000;
$z-modal-btn: 1100;
$z-archive-btn: 930;
$z-archive-graphic: 910;


/* svg sizes */

$svg-size0-w: 130px;
$svg-size0-h: 223px;

$svg-size1-w: 196px;
$svg-size1-h: 336px;

$svg-size2-w: 280px;
$svg-size2-h: 480px;

$svg-size3-w: 292px;
$svg-size3-h: 500px;

$svg-size4-w: 393px;
$svg-size4-h: 673px;


/* user button sizes */
$userBtn-w: auto;
$userBtn-h: 8vh;
$userBtn-h-max: 8vh;

$userBtn-large-w: auto;
$userBtn-large-h: 10vh;


