
<nav class="navbar">
  <div class="navbar-brand">
    <!-- <a class="navbar-item"><span class="app-title">랜덤 캐릭터 만들기</span> </a> -->
  
    <a class="navbar-item" routerLink="/main">
      <img [src]="'assets/images/logo/' + randomLogoUrl" alt="random character logo" width="112" height="28">
    </a>
  

    <div class="navbar-burger">
      <span>홈</span>
      <span>랜덤 캐릭터 만들기</span>
    </div>
    <a class="navbar-item is-paddingless"  routerLink="/main">about</a>
    <a class="navbar-item " routerLink="/random-characters">랜덤 캐릭터 만들기</a>
  </div>
</nav>
<section class="section">

  <div class="container">
      
  

    <div class="column is-paddingless">
      <router-outlet></router-outlet>
    </div>

  </div>
</section>