@import 'assets/scss/_global';
$nav-bg-col: $turquoise;

.navbar { 
    // background-color: $nav-bg-col;
    padding: 10px;
    a { 
        color: $turquoise;
        span { font-size: $size-3; }
    }
    
}