<section class="section is-paddingless">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/random-characters">
          <img [src]="'assets/images/logo/' + randomLogoUrl" alt="random character logo" width="112" height="28">
        </a>
        <!-- <a class="navbar-item is-paddingless"  routerLink="/main">about</a> -->
        <!-- <a class="navbar-item" routerLink="/random-characters">랜덤 캐릭터 만들기</a> -->
        <!-- <a class="navbar-item" routerLink="/speech-recognition">음성인식 테스트</a> -->
      </div>
    </nav>
    <router-outlet></router-outlet>
</section>