@import 'assets/scss/_global';

.navbar { 
    background: none;
    position: fixed;
    padding: 10px;
    .navbar-item { 
        background: none;
        color: $white;
        span { font-size: $size-3; }
    }
    
}

.section {
    @include size(100vw, 100vh);
    padding: none;
}