@import 'assets/scss/_global';
$nav-bg-col: $turquoise;
.navbar { 
    // background-color: $nav-bg-col;
    position: fixed;
    padding: 10px;
    a { 
        color: $nav-bg-col;
        span { font-size: $size-3; }
    }
    
}

.section {
    @include size(100vw, 100vh);
    padding: none;
    // overflow: hidden;
}