

<section class="container" *ngIf="!isRandom" >
    <div class="landingMotion">landing Motion</div>
    <div *ngIf="!isRandom" class="column">
        <img class="startBtn" 
          (mouseenter)="onMouseEnter('start')"
          (mouseleave)="onMouseLeave('start')"
          (click)="setRandomState()" [src]="startBtnUrl">
    </div>

</section>

<div class="container" *ngIf="isRandom">
  

  <div  class="svg-container is-paddingless"> 
    <div *ngIf="randomIndex" class="result">
        <div class="module" [style.background-image]="'url(/assets/images/legs/0.svg)'"> </div>
        <div class="module" [style.background-image]="'url(/assets/images/hair/'+randomIndex.hair+'.svg)'"> </div>
        <div class="module" [style.background-image]="'url(/assets/images/torso/'+randomIndex.torso+'.svg)'"> </div>
        <div class="module" [style.background-image]="'url(/assets/images/ear/'+randomIndex.ear+'.svg)'"> </div>
        <div class="module" [style.background-image]="'url(/assets/images/top/'+randomIndex.top+'.svg)'"> </div>
        <div class="module" [style.background-image]="'url(/assets/images/face/'+randomIndex.face+'.svg)'"> </div>
        <div class="module" [style.background-image]="'url(/assets/images/eye/'+randomIndex.eye+'.svg)'"> </div>
        <div class="module" [style.background-image]="'url(/assets/images/mouth/'+randomIndex.mouth+'.svg)'"> </div>
        <div class="module" [style.background-image]="'url(/assets/images/nose/'+randomIndex.nose+'.svg)'"> </div>
        <div class="module" [style.background-image]="'url(/assets/images/shoes/'+randomIndex.shoes+'.svg)'"> </div>
        <div class="module" [style.background-image]="'url(/assets/images/bottom/'+randomIndex.bottom+'.svg)'"> </div>
        <div class="module" [style.background-image]="'url(/assets/images/hair_acc/'+randomIndex.hairAcc+'.svg)'"></div>
    </div>
  </div>
  

</div>


<section class="btn_user" *ngIf="isRandom">
    
  <!-- <img class="startBtn"  *ngIf="!isComplete" (click)="randomStop()" src="assets/images/msg/select.png" /> -->
  <div class="btn_container">
      <a class="button is-primary"  *ngIf="!isComplete" (click)="randomStop()">선택하기</a>


      <div *ngIf="isComplete">
        <!-- <img class="startBtn" (click)="randomRestart()" src="assets/images/msg/restart.png" /> -->
        <a class="button is-light" (click)="randomRestart()">RETRY</a>
        <a routerLink="/random-name" class="button is-primary">NEXT</a>
  </div>
  
  </div>
</section>
