@import 'assets/scss/global';
@import 'assets/scss/utils/characterStyle';
@import 'assets/scss/utils/animations';


.archive {
	@include size(100vw, 100vh);
	@include flex(flex, column nowrap);
	justify-content: center;
  align-content: center;
	overflow: hidden;
	background-image: url('/assets/images/ui/archive/bg.png');
	// background-repeat: repeat-x;
	background-size: cover;
	
	

	.archive-body {
		@include size(100vw, 80vh);
		@include flex(flex, column nowrap);
		justify-content: flex-end;
		overflow: hidden;


		// 멘넴의 캐릭터 동산
		.top-img {
			@include size(80%, auto);
			margin: 0 auto;
			
			img {
				@include size(auto, 14vh);
				margin: 0 auto;
			}

		}
		// 최근 캐릭터들 (방금 생성산 캐릭터 제외)
		.characters {
			// @include testBorder();
			@include size(80vw, $svg-size2-h);
			@include flex(flex, row nowrap);
			justify-content: flex-start;
			align-content: center;
			margin: 0 auto;
			overflow: visible;
			
			// overflow-x: scroll;
			// overflow-y: hidden;

			.character {
				@include size($svg-size2-w, $svg-size2-h);
				margin: 0 auto;
			}
		}

	}

	.archive-foot {
		@include size(100vw, 20vh);
		@include flex(flex, column nowrap);
		justify-content: center;
		.userBtn {
			z-index: $z-archive-btn;
			img {
				@include size(auto, 8vh); // only for archive page
			 }
		}
	}
	// 좌우 이동 버튼, 아카이브 그래픽 소스(키티, 튤립)
	.btnDir_container{
		@include size(100vw, auto);
		@include flex(flex, column nowrap);
		justify-content: space-between;
		align-content: space-between;

		position: absolute;
		bottom: 0;
		z-index: $z-archive-graphic;

		.dirs {
			@include size(90vw, auto);
			@include flex(flex, row nowrap);
			justify-content: space-between;
			align-content: center;
			margin: 0 auto;
			// 좌우 이동 버튼
			.dir {
				@include size(auto, 5vh);
			}
		}
		// 아카이브 그래픽 소스(키티, 튤립)
		.graphics {
			$graphic-size: 18vw;
			@include size(100vw, $graphic-size);
			@include flex(flex, row nowrap);
			justify-content: space-between;
			align-content: flex-end;
			.graphic {
				@include size($graphic-size, $graphic-size);
			}
			
		}
	}

	.counter {
		font-family: $serif-talk;
		font-size: $size-4;
		position: absolute;
		top: 0;
		right: 1rem;
		z-index: $z-archive-graphic;
		
	}
}


.custom-tooltip {
	@include size($svg-size2-w, auto);
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	font-family: $serif-talk;
	font-size: $size-4;
	padding: 1rem;
	color: $black;
	opacity: 0;

	// background-image: url('/assets/images/ui/archive/tooltip-bg.png');
	// background-repeat: no-repeat;
	// background-size: contain;

	transition: opacity .4s ease-in-out;
	&.active { opacity: 1; }
}


@keyframes buttonUp{
  0% {    opacity: 0; transform: translateY(200%); }
  100%  { opacity: 1; transform: translateY(-200%); }
}
