@charset "utf-8";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/scss/utils/animations";

body { 
  margin: 0; text-align: center;
}

$goocolor: turquoise;


.spinner {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;

  .ball {
		width: 20px;
		height: 20px;
		background-color: $goocolor;
		border-radius: 50%;
		display: inline-block;
	}


	p {
	color: $goocolor;
	margin-top: 5px;
	
	letter-spacing: 3px;
	font-size: 10px;
	}
}


