@import 'assets/scss/global';
@import 'assets/scss/utils/characterStyle';
@import 'assets/scss/utils/animations';


$svgWidth: 292px;
$svgHeight: 500px;

.btn_user {
	@include size(100vw, 10vh); 
	position: absolute;
	animation: bounceIn .6s ease-in-out 1.2s forwards running;
}
.wrap {
	@include size(100vw, 100vh);
	@include flex(flex, column nowrap);
	justify-content: center;
	align-content: center;

	margin: 0 auto;


	.character {
		// 미디어쿼리 적용
		@include size($svgWidth, $svgHeight);
		margin: 0 auto;
		@include testBorder();

  }

  .boxs {
    @include size(50vh, auto);
    @include flex(flex, row nowrap);
    margin: 0 auto;

    justify-content: space-between;
    align-content: center;

    .random-text {
      @include size(33%, auto);
      border: 2px solid black;
      text-align: center;
      
      p {
        font-size: 6rem;
        font-weight: 100; 
        padding: 1rem;
        &.question-mark { 
          opacity: .2;
        }
      }
    }

  }
  
	.btn_container {
		@include size(30vw, auto);
		margin: 0 auto;
		@include testBg();

	}

}
