@import 'assets/scss/global';
@import 'assets/scss/utils/characterStyle';
@import 'assets/scss/utils/animations';

$svg-w: $svg-size1-w;
$svg-h: $svg-size1-h;

$userBtn-w: auto;
$userBtn-h: 8vh;
$userBtn-h-max: 8vh;

.hero {
  overflow: hidden;

  .hero-body {
    .container {
      @include flex(flex, column nowrap);
      justify-content: flex-start;
      align-content: center;
      
      .character {
        // 미디어쿼리 적용
        @include size($svg-w, $svg-h);
        margin: 0 auto;
      }
    
    
      .boxs {
        @include size(50vh, auto);
        @include flex(flex, row nowrap);
        margin: 0 auto;
    
        justify-content: center;
        align-content: center;
    
        .random-text {
          @include size(33%, auto);
          text-align: center;
          
          p {
            font-size: $size-big;
            font-weight: $weight-thin; 
            &.question-mark { 
              opacity: .2;
            }
          }
        }
      }
    }
  }


  .hero-foot {
    // here
  }

}

//// Modal Style ////


.custom-modal {
  width: 100vw;
  height: 0;
  background-color: $custom-modal-color;
  overflow: hidden;
  position: absolute;
  
  // opacity: ;
  z-index: $z-modal;
  transition: height .4s ease-in-out;

  &.active {
      top: 0;
      height: 100vh;
      @include flex(flex, row nowrap);
      justify-content: center;

      .result {
        @include size($svg-w, $svg-h);
        margin: 0 auto;
      }

  }
  &.inactive {
      top: 0;
      height: 0;
  }    

  p {
      font-size: $size-big;
      text-align: center;
  }
}




.custom-init-modal {
  width: 100vw;
  height: 100vh;
  background-color: $custom-modal-color;
  overflow: hidden;
  position: absolute;
  top: 0;
  
  // opacity: ;
  z-index: 2000;
  transition: height .4s ease-in-out;

  &.active {
      top: 0;
      height: 100vh;
      @include flex(flex, row nowrap);
      justify-content: center;


  }
  &.inactive {
      top: 0;
      height: 0;
  }    

  p {
      font-size: $size-big;
      text-align: center;
  }
}


.character-to-name {
  @include size(100%, 100vh);
  @include flex(flex, column nowrap);
  justify-content: center;
}



.name-modal {
  @include size(100%, 100vh);
  @include flex(flex, column nowrap);
  justify-content: center;

  .saveMsg {
    @include size(100%, 100vh);
    @include flex(flex, column nowrap);
    justify-content: center;
    text-align: center;

    font-size: $size-big;
    font-family: $sans-bold;
  }

  
  .btn_container {
      @include size(40vw, 20vh);
      @include flex(flex, row nowrap);
      justify-content: space-around;
      z-index: $z-modal-btn;

      @include translate(0, 100%);
      opacity: 0;

      margin: 0 auto;
      &.active {
        transform-origin: center;
        animation: buttonUp 0.8s cubic-bezier(1,.015,.295,1.225) 4s forwards running;
      }
   }
}


@keyframes buttonUp{
  0% {    opacity: 0; transform: translateY(100%); }
  100%  { opacity: 1; transform: translateY(-100%); }
}