
<section *ngIf="result" class="result">
  <div class="module" [style.background-image]="'url(/assets/images/legs/0.svg)'"> </div>
  <div class="module" [style.background-image]="'url(/assets/images/hair/'+result.hair+'.svg)'"> </div>
  <div class="module" [style.background-image]="'url(/assets/images/torso/'+result.torso+'.svg)'"> </div>
  <div class="module" [style.background-image]="'url(/assets/images/ear/'+result.ear+'.svg)'"> </div>
  <div class="module" [style.background-image]="'url(/assets/images/top/'+result.top+'.svg)'"> </div>
  <div class="module" [style.background-image]="'url(/assets/images/face/'+result.face+'.svg)'"> </div>
  <div class="module" [style.background-image]="'url(/assets/images/eye/'+result.eye+'.svg)'"> </div>
  <div class="module" [style.background-image]="'url(/assets/images/mouth/'+result.mouth+'.svg)'"> </div>
  <div class="module" [style.background-image]="'url(/assets/images/nose/'+result.nose+'.svg)'"> </div>
  <div class="module" [style.background-image]="'url(/assets/images/shoes/'+result.shoes+'.svg)'"> </div>
  <div class="module" [style.background-image]="'url(/assets/images/bottom/'+result.bottom+'.svg)'"> </div>
  <div class="module" [style.background-image]="'url(/assets/images/hair_acc/'+result.hairAcc+'.svg)'"></div>
</section>

